<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.transmote.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Aller_Bd.ttf</string>
		<string>Aller_BdIt.ttf</string>
		<string>Aller_It.ttf</string>
		<string>Aller_Lt.ttf</string>
		<string>Aller_LtIt.ttf</string>
		<string>Aller_Rg.ttf</string>
		<string>AllerDisplay.ttf</string>
	</array>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>IBCustomFonts</key>
	<dict>
		<key>Arial</key>
		<string>Aller-Bold</string>
		<key>Aller Bold Italic</key>
		<string>Aller-BoldItalic</string>
		<key>Aller Italic</key>
		<string>Aller-Italic</string>
		<key>Aller Light</key>
		<string>Aller-Light</string>
		<key>Aller Light Italic</key>
		<string>Aller-LightItalic</string>
		<key>Aller</key>
		<string>Aller</string>
		<key>Aller Display</key>
		<string>AllerDisplay</string>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
